.content-full {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    justify-items: center;
}
.content-header-button {
    display: flex;
    justify-content: flex-end;
    
}
.content-header-button button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--main-color-button);
    color: var(--main-color-text-primary);
    transition: 0.7s;
}
.content-header-button button:hover{
    transition: 0.4s;
    background-color: var(--main-color-button-hover)
}
div[value='spacing-row']{
    padding-left: 0 !important;
}
.content-card {
    display: flex;
    flex-direction: column;
}
.content-table {
    margin: 10px;
    justify-content: center;
}
.content-tr {
    clear: both;
    border: 4px solid red;
    margin-top: 5px;
}
.icon-gerar {
    font-size: 24px;
    color: var(--main-color-button);
    transition: 0.09s;
}
.icon-gerar:hover {
    font-size: 28px;
    color: var(--main-color-button-hover);
    transition: 0.09s;
}
.icon-deletar {
    font-size: 24px;
    color: red;
    transition: 0.09s;
}
.icon-deletar:hover {
    font-size: 28px;
    color: red;
    transition: 0.09s;
}
.buttons {
    display: flex;
}